<!DOCTYPE html>
<h1><%= @team_name %></h1></br>
<h2>Team Motto: <%=@team_motto%>!</h2></br>
<h2>Hero Name: <%=@name1%></h2>
<h3>Hero Power: <%=@power1%></h3>
<h3>Hero Biography: <%=@bio1%></h3>
<h2>Hero Name: <%=@name2%></h2>
<h3>Hero Power: <%=@power2%></h3>
<h3>Hero Biography: <%=@bio2%></h3>
<h2>Hero Name: <%=@name3%></h2>
<h3>Hero Power: <%=@power3%></h3>
<h3>Hero Biography: <%=@bio3%></h3>